:root{
  --color-badge:rgb(238, 113, 171);
  --color-blue:rgb(35, 44, 198);
  --online-badge:rgb(10, 145, 5);
  --offline-badge:grey;
}

/* badge on buttons*/
.btn-with-badge{
  position: relative;
}

.badge{
  background-color: var(--color-blue);
  border-radius: 50%; 
  color: white;
  text-align: center;
  font-size:smaller; 
}

.large-badge{
  padding:8px;
}

.small-badge{
 padding:6px;
}

.badge-right{
  position: absolute;
  top:-1.5rem;
  right:-0.75rem;
  background-color:var(--color-badge);
  padding:9px;
}

.badge-left{
  display: flex;
  align-items: center;
  position: absolute;
  top:-1.5rem;
  left:-1rem;    
  background-color:var(--color-badge);
  padding:9px;
}


/* Icon with a badge */
.icon{
  font-size:3rem;
}

.icon-w-badge{
  position: relative;
 
}

.badge-on-icon{
  position: absolute;
  top: -16px;
  right: -16px;
}

/* avatar with badges */
.avatar-w-badge{
  position: relative;
}

.round-avatar{  
  border-radius: 50%;
  width: 100%;
  height: inherit;
  object-fit: cover;  
}

.badge-online{
  position: absolute;
  display: flex;
  justify-content: center;
  padding:10px;
  background-color: var(--online-badge);
  top:7.25rem;
  left: 7.25rem;
}

.badge-offline{
  position: absolute;
  display: flex;
  justify-content: center;
  padding:10px;
  background-color:var(--offline-badge);
  top: 4.5rem;
  left: 4.5rem;
}

/* universal */

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.component-area{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  padding:2rem 4rem;
  background-color:var(--component-background)
}





