:root{
    --color-error:rgb(240, 72, 72);
}

.flex-col{
    display: flex;
    flex-direction: column;
    
}

.form-area{
    width: 40%;
    margin: 0 auto;
    align-items: center;
}

.input-component-area{
    display: flex;
    flex-direction: column;    
    padding: 2rem;
    background-color: var(--component-background);
    width: 100%;
}

.input-height{
    line-height: 1.5rem;
}

.error{
    color: var(--color-error);
}

.margin-top-down-10px{
    margin: 10px 0;;

}
