#buttons{
    margin:0 auto;    
    max-width:60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.text-center{
    text-align: center;
}

.btn-components{
    justify-content: center;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    background-color: var(--component-background);
}

/* button with icon */

.btn-with-icon{
    display: flex;   
    border-radius: 4px;
    padding: 2px 4px;
    align-items:center;
    background-color:var(--primary-btn);
    color: white;
    width:8rem;
    max-width:10rem;
    justify-content: center;         
}

.btn-w-icon{
    border: none;
    padding:8px 6px;
    border-radius:5px;
    text-decoration: none;
    color: white;
    max-width: 12rem;
}

.floating-btn{
    border: none;
    padding:0.75rem;
    border-radius:50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    color: white;
}

.add{
    background-color: var(--primary-btn);
}

.delete{
    background-color: var(--danger-btn);
}