:root{
    --primary-color:#49a0eb;
    --secondary-color:aliceblue;  
}

.intro{
    width: 70%;
    margin: 1rem auto;
}

.main-page{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main-components{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 0 auto;
}

.margin-zero{
    margin: 0;
}

.compo{
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:rgb(241, 241, 233);
    padding: 1rem;
    border-radius: 5px;
}

.component-link{
    border: none;
    padding: 0.75rem 1rem;
    border-radius:5px;
    text-decoration: none;
    max-width: 10rem; 
    background-color:var(--primary-color);
    margin-bottom: 1rem;
    color: white;
}

.component-desc{
    margin-bottom: 1rem;
}

.footer{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}

.link{
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: larger;
}

.navbar{
    width: 100%;
    position: fixed;
    background-color:var(--secondary-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navmenu{
    list-style: none;
    margin-left: auto;
    display: flex;
    gap: 1rem;
    padding-right:1rem;
}

.navbrand{
    color: var(--primary-color);
    padding-left:10px;
}