:root{
    --hover-color:rgb(44, 44, 44);
    --toast-background:rgba(36, 32, 36, 0.904);
   
}

.toast{
    padding:0 1rem;
    height: fit-content;
    width:30%;
    max-width:400px;
    background-color: var(--toast-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:5px;
    color: white;
    position: absolute;
    top:3.25rem;
    left:25rem;  
    margin: 0 auto;
}

.toast-main{
    background-color: var(--component-background);
    height: 10rem;
    width:100%;
    position: relative;
    
}

.toast-link{
    text-decoration: none;
    color:blueviolet;
}

.toast-span{
    border-radius: 50%;
    padding:1rem;
}

.toast-span:hover{
    background-color:var(--hover-color);
    
}
