:root{
    --component-background-color:whitesmoke;
    --primary:rgb(78, 179, 145);
    --secondary:white;
    --success:powderblue;
    --warning:rgb(235, 235, 72);
    --danger:rgb(233, 76, 76);
}

.alert-components{
    display: flex;
    flex-direction: column;
    border-radius:0.5rem;
    background-color:var(--component-background-color);
    padding: 0.5rem;
}

.alert{    
    padding:8px;
    border-radius:5px;
    margin: 8px;
}

.primary{
    background-color:var(--primary);
}

.secondary{
    background-color:var(--secondary);
}

.success{
    display: flex;
    align-items: center;
    background-color:var(--success);
}

.danger{
    background-color: var(--danger); 
}

.warning{
    display: flex;
    align-items: center;
    background-color:var(--warning) 
}