.alert-components{
    display: flex;
    flex-direction: column;
    border-radius:0.5rem;
    background-color:var(--component-background);
    padding: 0.5rem;
}

.alert{    
    padding:8px;
    border-radius:5px;
    margin: 8px;
}

.primary{
    background-color:var(--primary-alert);
}

.secondary{
    background-color:var(--secondary-alert);
}

.success{
    display: flex;
    align-items: center;
    background-color:var(--success-alert);
}

.danger{
    background-color: var(--danger-alert); 
}

.warning{
    display: flex;
    align-items: center;
    background-color:var(--warning-alert) 
}