:root{
    --component-background:rgb(247, 245, 242);
    --color-checked:orange
}
.checked{
    color:var(--color-checked);
}
.component-area{
    display: flex;
    flex-direction: column;    
    padding: 2rem;
    background-color: var(--component-background);
    width: 70%;
    gap: 1rem;
}
