:root{
    --color-grey:rgb(204, 200, 200);
}

.component-area{
    width: 90%;
    padding:8px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid var(--color-grey);
}

.text-bold{
    font-weight: bold;
}
.text-light{
    font-weight: lighter;
}

.text-grey{
    color: var(--color-grey)
}

.text-italic{
    font-style: italic;
}

.sub-text{
    margin: 1rem 0rem;
}