:root{
    --grey-border:rgb(194, 190, 190);
}

.grid-container{
    width: 90%;
    display: grid;
    padding: 2rem;
    grid-gap: 10px;
    margin: 1rem;
    border: 1px solid var(--grey-border);
}
.two-col-grid{
    grid-template-columns: 1fr 1fr;
    
}

.three-col-grid{
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-item{
    background-color: #84c6fc;
    height:3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.large-font{
    font-size: large;
}