:root{
    --slider-border :rgb(221, 218, 218);
    --slider-background:rgb(240, 234, 228);
}
#slider{
    padding : 1rem;
}
.slider-component{
    padding: 1rem;
    background-color: var(--component-background);
}

.slider{
    margin: 1rem 0rem;
    width: 10rem;
}

.icon-slider{
    border: 1px solid var(--slider-border);
    border-radius: 4px;
    padding: 0.5rem;
    width: 10rem;
    height: 1rem;
    background-color: var(--slider-background);
    display: flex;
    justify-content: center;
    align-items: center;
}