@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

:root{
    --badge-color:rgb(224, 114, 114);
    --card-background:#fff;
    --body-background:#F7F7F7;
    --sub-title:rgb(107, 107, 107);
    --btn-background-color:rgb(18, 1, 255);
    --grey:rgb(44, 44, 44);
    --color-on-hover:rgb(101, 44, 214);
    --overlay-background:rgba(35, 38, 41, 0.4);
   
}

.cards{
    background-color: var(--component-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;      
}

/************** Basic *************/
.card{
    width:300px;
    background:var(--card-background);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    border-radius: 4px; 
}

.body{
    display: flex;
    flex-direction: column;
}

.card-image{
    border-bottom: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.img-size{
    width: 300px;
    height: 200px;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.card-title{
    font-size:larger;
    line-height:2rem;
    margin:0;
}

.card-sub-title{
    margin:0;
    font-size:0.75rem;
    /* color: var(--sub-title); */
    font-weight: 600;
    line-height: 1.25rem;
}

.card-content{
    color:var(--grey);
    font-weight: 500;
    line-height: 1.5rem;  
}

.div-padding{
    padding:6px;
}

.card-btn{
    border: none;
    padding: 8px 0;
    font-weight: bold;
    border-radius:5px;
    line-height:1rem;
    width: 8rem;  
}

.primary-btn{
    background-color: var(--btn-background-color);
   
}
.secondary-btn{
    background: none;
    color: black;
    border: 1px solid var(--btn-background-color);
}

.btn a{
    color: white;
}
.secondary-btn a{
    color:rgb(20, 20, 20);
}

.primary-btn:hover{
    background-color:var(--color-on-hover);
}

.icons a{
    padding:0.6rem;
    color: black;
}

.icons a:hover{
    color: var(--color-on-hover);
}

a{
    text-decoration:none;
    letter-spacing:1px; 
}

/* card with text overlay  */
.text-overlay {
    width:20.5rem;
    position: absolute;
    bottom:-10rem;
    background-color:var(--overlay-background);
}

/* Horizontal Card*/
.horizontal{
    display: flex;
}

.item:nth-child(3){
    display: none;
}

.header-image{
    border-top-right-radius:none;
}

/* Card with badge */
.card-w-badge{
    position: relative;
}

.card-w-dismiss{
    position: relative;
}

.card-badge {
    background-color: var(--badge-color);
    position: absolute;
    top: 0px;
    left: -2px;
    padding: 0.5rem;
    width: 7rem;
    text-align: center;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}

/* card with dismiss */
.card-dismiss{
    background-color:whitesmoke;
    position: absolute;
    font-size: large;
    font-weight: bolder;
    top: 0px;
    right:-2px;
    padding: 0.4rem 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}

.card-dismiss:hover{
    background-color:var(--color-on-hover);
    cursor: pointer;
    
}

.text-lightblue{    
    color: rgb(69, 69, 240);
}

.flex-card{
    display:flex;
    gap:6px;
    justify-content: space-between;
}