.image-container {
    margin: 0 auto;;
    width:100%;
    background-color:var(--component-background);
    padding: 2rem;
}
  
.responsive-img {
    margin: 0 auto;
    display: flex;
    width: 50%;
    height: 50%;
    block-size: auto;
}
  
.rounded-img {
    margin: 0 auto;
    border-radius: 50%;
    width: 50%;
    object-fit: cover;
}
  
@media only screen and (max-width: 480px) {
    .responsive-img {
      width: 50%;
      height: 50%;
    }
    .image-container {
      width: 100%;
    }
}