.rounded-avatar {
    border-radius: 50%;
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.avatar-container {
    padding: 2rem;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    background-color:var(--component-background);
}

.avatar-lg{
    width:35%;
    height:35%;
}

.avatar-md{
    width: 25%;
    height: 25%;
}

.avatar-sm{
    width:15%;
    height:15%;
}
.avatar-vsm{
    width:5%;
    height:5%;
}

.text{
  position: relative; 
  color:rgb(39, 39, 39);
  
}
.text-lg{
    top: 80px;
    font-size: 180px; 
    line-height: 180px; 
}

.text-md{
    top: 60px;
    font-size: 130px; 
    line-height: 130px; 
}

.text-sm{
    top: 40px;
    font-size: 90px; 
    line-height: 90px; 
}

.text-vsm{
    top: 20px;
    font-size: 40px; 
    line-height: 40px; 
}


.text-circle{
    background-color:rgb(133, 235, 235);
    text-align: center;
    border-radius: 50%;
}

.text-circle-lg{
    width: 320px;
    height: 320px;
}

.text-circle-md{
    width: 240px;
    height: 240px;
}

.text-circle-sm{
    width: 160px;
    height: 160px;
}

.text-circle-vsm{
    width: 80px;
    height: 80px;
}






