.main-doc{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.side-section{
    padding-top: 2rem;
    width:20%;
    margin-top: 2rem;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 0rem;
    scroll-behavior: auto;
    overflow-y:scroll;
}

.main-section{
    padding: 10px;
    margin-top: 3rem;
    width:80%;
}

.items{
   padding:1rem 3rem;
}

.items:hover{
    background-color: rgb(229, 236, 236);
    cursor:pointer;
}

.items a{
    text-decoration: none;
    color:black;
    font-size:larger;
}

.side-section-heading{
    padding: 1rem 2rem;
}

.intro{
    margin:1rem 0px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.title{
    font-size:1.5rem
}

.info{
    padding-bottom: 8px;
}

.code-snipet{
    padding: 1.5rem 0;
}

.gap-2rem{
    gap: 2rem;
}
                    
