:root{
  --primary-light-color:azure;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: 0 2rem;
  align-items: center;
}

.navbar .hamburger{
  display: none;
}

.menu-items{
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  
}
  
.menu-items a:hover {
  color: #117964;
}

.logo {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.responsive-navbar, .mobile-menu-items{
  display:none;
}

.hamburger:hover,#close:hover{
  cursor: pointer;
}

/* media */
@media only screen and (max-width: 768px){
  .menu-items{
    display: none;
}

.navbar .hamburger{
    display: block;
}


}