.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding: 0 2rem;
    align-items: center;
    
}

  /* desktop site */


.navbar .hamburger{
    display: none;
}

.menu-items{
    display: flex;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
  
}
  
.menu-items a:hover {
    color: #117964;
    
}

.logo {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.responsive-navbar, .mobile-menu-items{
  display:none;
}

/* mobile */
.hamburger:hover{
  cursor: pointer;
}

/* media */
@media only screen and (max-width: 768px){
  .menu-items{
    display: none;
}

.navbar .hamburger{
    display: block;
}

/* .display-navbar {
  display: flex;
}

.responsive-navbar{
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 70%;
    background-color: var(--light-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    overflow: auto;
    z-index: 5;
}

.mobile-menu-items{
  display: flex;
  flex-direction: column;
}

.mobile-menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.mobile-menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;

}

.mobile-menu-items a:hover {
  color: #117964;
  
}
#close{
  background-color:azure;
  padding:1rem

} */

}